@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #0B7BFF;
    --secondary-color:#113573;
    --primary-text:#B7B7B7;
    --baby-blue:#4B97F4;
}

body{
    font-family:"Roboto", sans-serif;
}
.btnPrimary{
    border-radius: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 14px;
    color: white;
    transition: 0.3s linear;
    text-wrap: nowrap;
}
.btnPrimary:hover{
    background-color: white;
    color: var(--primary-color);
}

.gradientBtn{
    border-radius: 1.25rem;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--baby-blue) 100%);
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: white;
    transition: all 0.3s linear;
    border: 2px solid var(--secondary-color);
    
}
.gradientBtn:hover{
    background: #113573;
    border-color:var(--baby-blue);
}